<header class="header">
  <div>
    <h1 class="logo">
      <a href="/">
        <span>Sports</span>
        <span class="logo-seg-color">SHOP</span>
      </a>
    </h1>
  </div>

  <nav class="nav">
    <div class="container-menu">
      <label class="btn-menu" for="menu-input">
        <i class="fas fa-bars"></i>
      </label>
    </div>
    <input id="menu-input" type="checkbox" />

    <div class="container-ul">
      <ul class="menu-account">
        <li>
          <a href="/register">
            Registrarse <i class="fa-solid fa-address-card"></i>
          </a>
        </li>
        <li>
          <a href="/login">
            Ingresar<i class="fa-solid fa-arrow-right-to-bracket"></i>
          </a>
        </li>
        <li>
          <a href="/productCart">
            Mi Carrito<i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
