<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenidos a Sports Shope</title>
    <!-- //TODO: importacion tipografias -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- //TODO: importacion librerias -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- //TODO: importacion css -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
  </head>
  <body>
    <%- include('./partials/header') %>

    <main class="main-home">
      <section>
        <form class="filter-category" action="#">
          <div class="filter-group">
            <h3 class="section-title">CATEGORIAS</h3>
          </div>
          <div class="filter-group">
            <input class="d-none" type="radio" id="camisas" name="category" />
            <label for="camisas">Camisas</label>
          </div>
          <div class="filter-group">
            <input class="d-none" type="radio" id="chaqueta" name="category" />
            <label for="chaqueta">Chaqueta</label>
          </div>
          <div class="filter-group">
            <input class="d-none" type="radio" id="buzos" name="category" />
            <label for="buzos">Buzos</label>
          </div>
        </form>
      </section>

      <section class="section-products">
        <div class="grid">
          <article class="card">
            <div class="card-header">
              <img
                src="images/camiseta-barcelona.jpg"
                alt="camisa barcelona"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-shirt"></i>
              <p class="card-price">$100.000</p>
              <p class="card-discount">10% off</p>
              <h4 class="card-description">Camiseta Barcelona</h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="images/camiseta-real-madrid.jpg"
                alt="camisa real madrid"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-shirt"></i>
              <p class="card-price">$120.000</p>
              <p class="card-discount">10% off</p>
              <h4 class="card-description">Camiseta Real Madrid</h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="images/camiseta-psg.jpg"
                alt="Camiseta psg"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-shirt"></i>
              <p class="card-price">$80.000</p>
              <p class="card-discount">10% off</p>
              <h4 class="card-description">Camiseta PSG</h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="images/chaqueta-liverpool.jpg"
                alt="chaqueta liverpool"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-shirt"></i>
              <p class="card-price">$200.000</p>
              <p class="card-discount">15% off</p>
              <h4 class="card-description">chaqueta liverpool</h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="images/Hoodie-Manchester-United.jpg"
                alt="Buzo manchester united"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-shirt"></i>
              <p class="card-price">$180.000</p>
              <p class="card-discount">5% off</p>
              <h4 class="card-description">Buzo Manchester United</h4>
            </div>
          </article>
          <article class="card">
            <div class="card-header">
              <img
                src="images/camiseta-river.png"
                alt="camisa barcelona"
                class="product_img"
              />
            </div>
            <div class="card-body">
              <i class="fa-solid fa-shirt"></i>
              <p class="card-price">$300.000</p>
              <p class="card-discount">25% off</p>
              <h4 class="card-description">Camiseta River Plate</h4>
            </div>
          </article>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
