:root {
  --color-primary: #080808;
  --color-white: #ffffff;
  --color-grey: #ededed;
  --icono: #1259c3;
  --color-teal: #25c190;
  --color-teal-ligth: #dbfcf2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--color-grey);
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.d-none {
  display: none;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.paragraph {
  margin-bottom: 30px;
}

.title {
  font-size: 18px;
}

.section-title {
  font-size: 24px;
  color: var(--color-teal);
  font-size: 24px;
  text-decoration: underline var(--color-teal);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.main-home {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.filter-category {
  padding: 10px;
  background-color: var(--color-white);
  border-radius: 4px;
}

.filter-group {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.filter-group input:checked ~ label {
  color: var(--color-teal);
}

.card {
  margin: 20px;
  background-color: var(--color-white);
}

.card-header {
  border-bottom: 2px solid #ebebeb;
}

.card-header img {
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  position: relative;
}

.card-body i {
  position: absolute;
  right: 10px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-teal);
  background-color: white;
  border-radius: 50%;
  border: 2px solid var(--color-teal);
  width: 30px;
  height: 30px;
}

.card-price,
.card-discount {
  display: inline-block;
}

.card-discount {
  color: #39b54a;
  margin: 0px 6px;
  font-size: 16px;
}

.card-price {
  font-weight: bold;
  font-size: 18px;
}

.card-description {
  font-size: 16px;
  display: none;
  color: #666;
}

/* ESTILOS TABLET */
@media (min-width: 769px) {
  .card:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .card:hover .card-description {
    display: block;
  }

  .card:hover .fa-shirt {
    transform: rotate(-360deg);
    transition: 2s;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ESTILOS DESKTOP */
@media (min-width: 1030px) {
  .main-home {
    grid-template-columns: 1fr 3fr;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
